body {
    font-family: 'Helvetica';
    padding-top: 6rem;
}

h1 {
    font-size: 2.5rem;
}

section {
    margin: 0 auto;
    max-width: 600px;
    width: 85%;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid gray;
}

p {
    font-size: 1.25rem;
}